<div class="box">
<h1>follows</h1>
<% if @user.follower.count == 0 %>
<p>ユーザーがいません</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>


    <tbody>
      <% @user.following_user.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.follower.count %></td>
        <td>フォロワー数：<%= user.followed.count %></td>

        <td>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST,class: "btn btn-outline-info btn-sm" %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
        <% end %>
        </td>
        <td>
        <%= link_to "show", user_path(user) %>
        </td>
      </tr>
        <% end %>
      </tbody>
  </table>
<% end %>
</div>


